body {
    background-color:black;
    padding: 1% 5%;
    font-family: Arial, Helvetica, sans-serif
}
div{
    background-color:white;
    border-radius : 30px;
    padding: 1% 5%
}
p{
    padding: 0 10%;
    margin-left: 25%;
    margin-right: 20%;
}
footer{
    text-align: left
}
h1{
    color:gray;
    text-align: center
}
#result,button{
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif
}
#principal{
    margin-left: 4em
}
#rate{
    margin-left: 1.5em
}
#years{
    margin-left: 1.5em
}
span{
    background-color:rgba(255, 251, 0, 0.76)
}

